<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Error - <%= error %></title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="wrapper">
  <div class="login-box">
    <h2 class="error-title"><%= error %></h2>
    <p class="error-mensaje"><%= message %></p>
    <a href="/" class="btn volver">Volver al inicio</a>
  </div>
</div>
</body>
</html>