body {
    font-family: Arial;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    display: block;
    height: 100vh;
    align-items: flex-start;
}

/* Contenido principal */
.main {
    margin-left: clamp(200px, 16vw, 260px);
    padding: 10px;
}

@media (max-width: 990px) {
    .main {
        margin-left: 0 !important;
    }
}

/* Encabezado */
.top-header {
    padding: 80px 25px 40px;
    background-color: #ffffff;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: nowrap;
}

.header-row strong {
    font-size: 25px;
    color: #1d2a58;
}

.center-header {
    justify-content: center;
}

.center-header h1 {
    font-size: 32px;
    color: #1d2a58;
    font-weight: bold;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px;
    margin-top: 60px;
}

.option-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 100%;
    text-decoration: none;
    color: #1d2a58;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
}

.option-card span {
    font-size: 20px;
}

.option-card img {
    width: 110px;
    height: 110px;
    margin-bottom: 30px;
    object-fit: contain;
}

.option-card:hover {
    background-color: #1d2a58;
    color: white;
    transform: translateY(-3px);
}

.option-card:hover img {
    filter: invert(1);
}
